
:root {
  
  --primary: #a7a7fe;  
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background: linear-gradient(to bottom left, white, blue);
  font-family: 'Poppins', sans-serif;
}


.text {
  background-color: azure;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  gap: 1.5rem; 
  transition: transform 0.6s ease;
  margin: auto;
}


.text:hover {
  transform: scale(1.05);
}

header {
  background-color: var(--bgDark);
  padding: 1rem 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.logo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}

.right {
  margin-right: 400px;
}

.right img {
  height: 80px;
}

header nav a {
  color: var(--bgDark);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.3s ease;
}

header nav a:hover {
  color: var(--primary);
  transform: translateY(-2px);
}


header .left img {
  border-radius: 10%;
}


.hero {
  display: flex;
  justify-content: LEFT;
  align-items: center;
  gap: 3rem;
  padding: 3rem 0;
  color: white;
    font-family: "Delius", cursive;
  font-weight: 800;
  font-style: normal;
}

.hero img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.hero .right h6 {
  font-size: 1.2rem;
  color: var(--primary);
}

.hero .right h2 {
  font-size: 2rem;
  line-height: 1.4;
  margin-top: 1rem;
}

.hero .right a {
  color: var(--primary);
  font-weight: bold;
  text-decoration: none;
}

.hero .right a:hover {
  text-decoration: underline;
}


.about {
  background: #fff;
  color: var(--secondary);
  max-width: 1000px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform  1s ease;
}

.about:hover{
 transform: scale(1.2);
}

.about h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about h1 span {
  color: var(--primary);
}

.about h3 {
  margin-bottom: 1rem;
  font-weight: 500;
}

.about p {
  line-height: 1.6;
}

 .insta {
    padding: 1rem;
    max-width: 1400px;
    margin: 0 auto;
  }

.gallery{
   display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

 @media (max-width: 1000px) {
    .gallery-grid { grid-template-columns: repeat(3, 1fr); }
  }
  @media (max-width: 700px) {
    .gallery-grid { grid-template-columns: repeat(2, 1fr); }
  }
  @media (max-width: 420px) {
    .gallery-grid { grid-template-columns: 1fr; }
  }

#colophon{
    align-content: center;

}